body {
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #fafecc;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#sidebar {
  width: 150px;
  float: left;
  padding: 20px;
  position: fixed;
}

#sidebar .title a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

#sidebar .title a:hover {
   color: red;   
}

#sidebar .title a.extra {
  text-decoration: none;
  color: blue;
}

#cam {
  width: 100px;
  clear: both;
}

#content {
  width: 500px;
  padding: 20px;
  position: relative;
  left: 200px;
}
