body {
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#sidebar {
  width: 100px;
  float: left;
  padding: 20px;
  position: fixed;
}

#content {
  width: 500px;
  padding: 20px;
  position: relative;
  left: 140px;
}
